.tt{
    color: red;
}
#s2 {
    display: flex;
    flex-direction: column; /* Ensures content is stacked vertically */
    justify-content: center; /* Centers vertically */
    align-items: center; /* Centers horizontally */
    height: 100vh; /* Full viewport height */
    text-align: center; /* Ensures text alignment is centered */
    background-color: #f9f9f9; /* Optional, adds a background color */
    padding: 20px; /* Optional, adds spacing inside the section */
  }
  