h1{
    margin-left: 140px;
}
h2{
    margin-left: 155px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
h3{
    margin-left: 10px;
    
}
.Contact{
    flex-wrap: wrap;
}

@media (max-width: 500px){
    .Contact{
        margin-left: 0;
        
    }
}

